name: Python Format Check (Black)

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Black
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Check formatting
        run: |
          black --check .
