name: Python Format Check (Black)

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: |
          python -m pip install --upgrade pip
          pip install black
          black --check .
